<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles sass_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>TLT</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% sass_src 'sass/materialize.scss' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    .parallax-container {
      height: 300px;
    }
  </style>
  <style>
    body {
    background-color: white!important;
}
</style>
</head>
<body>

  <nav class="primary-color lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TLT</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Acasa</a></li>
        <li><a href="/despre">Despre</a></li>
        <li><a href="/activitati">Activitati</a></li>
        <li><a href="/events_all">Evenimente</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Acasa</a></li>
        <li><a href="/despre">Despre</a></li>
        <li><a href="/activitati">Activitati</a></li>
        <li><a href="/events_all">Evenimente</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

 {% block content %}
  {% endblock %}

<footer class="page-footer primary-color">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">TLT</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Meniu</h5>
          <ul>
            <li><a class="white-text" href="/">Acasa</a></li>
            <li><a class="white-text" href="/despre">Despre</a></li>
            <li><a class="white-text" href="/activitati">Activitati</a></li>
            <li><a class="white-text" href="/events_all">Evenimente</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="/contact">Contacteaza-ne!</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
    Made by <a class="orange-text text-lighten-3" href="https://github.com/emanuelcovaci">Emanuel Covaci</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>
  <script>
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      window.setInterval(function () {
          $('.carousel').carousel('next');
      }, 3200);
  </script>
<script>
  $(document).ready(function(){
      $('.parallax').parallax();
    });

</script>

  </body>
</html>
