{% extends "base.html" %}
{% load staticfiles sass_tags %}
{% block content %}



  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="card">
            <div class="card-content">
            <div class="accent-text">
              <center>
                <h4>
                  Ce este TLT ?
                </h4>
              </center>
            </div>
              <br>

                <!--<div class="article-image" href="#one!">-->
         <img style="width: 100%; height: auto;" src="{% static 'img/4.jpg'%}">
        <!--</div>-->

             <p>
                 ‘Adevărat vă spun că, ori de câte ori aţi făcut aceste lucruri unuia din aceşti foarte neînsemnaţi fraţi ai Mei, Mie Mi le-aţi făcut.’  Matei 25:40
             </p>
              <br>
              <p>
                 Patru prieteni și o targă. De atât a fost nevoie ca slăbănogul din Capernaum să fie dus la Hristos, vindecat și mântuit. Urmând exemplul acestora, proiectul ”Tineri la targă” a luat naștere.
             </p>
            <br>
              <p>
                 ”Tineri la targă” a început cu voluntariatul unor tineri, membri ai Bisericii Elim din Timișoara, cu scopul de a motiva și facilita implicarea tuturor tinerilor care doresc să aibă un impact în societate prin ajutarea, reabilitarea și îngrijirea celor aflați în nevoie. Voluntariatul nostru implică acțiuni din diverse domenii care sunt mereu adaptate potrivit cu nevoile curente ale oamenilor. Domeniile în care acționăm cel mai des sunt: construcții, renovări, curăneție, transport persoane cu nevoie speciale, transport mobilier, asigurarea de resurse pentru iarnă, colaborare cu I.S.U. Timiș, misionariat.
             </p>
            <br>
              <p>
                 Prin acțiunile noastre dorim să exemplificăm și să promovăm trăirea unei vieți de credință vie, activă, viziblă în societate, care să fie o oglindire și o mărturie a ceea ce este Hristos pentru noi.
             </p>
            <br>
              <p>
                 Implică-te prin donații sau implicare activă și ascultă-ți chemarea de fi parte din ”Tineri la targă”!
             </p>

            </div>
    <br><br>
        </div></div></div></div>
    <div class="section">

    </div>
  </div>
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>

 {% endblock %}