{% extends "base.html" %}
{% load staticfiles sass_tags %}
{% block content %}



  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="card">
            <div class="card-content">
            <div class="accent-text">
              <center>
                <h4>
                  Povestea noastra.
                </h4>
              </center>
            </div>
              <br>

                <!--<div class="article-image" href="#one!">-->
         <img style="width: 100%; height: auto;" src="{% static 'img/4.jpg'%}">
        <!--</div>-->

             <p>
                 Ajutarea celor aflați în nevoie e ceva perpetuu în viața noastră. De aceea fiecare acțiune de ajutare va fi prezentată aici, pentru a confirma veridicitate și autenticitatea acțiunilor noastre și pentru a vedea că implicarea ta contează din plin.
             </p>
            </div>
    <br><br>
        </div></div></div></div>
    <div class="section">

    </div>
  </div>
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>

 {% endblock %}