{% extends "base.html" %}
{% load staticfiles sass_tags %}
{% block content %}
<style>
    .parallax-container {
      height: 350px!important;
    }
</style>
 <div class="parallax-container">
      <div class="parallax"><img   src="{% static 'img/play.jpg'%}"></div>
    </div>

<div align="center">
<h3>Activitati</h3>
</div>


<div class="row">
     <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/play.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
    <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/game.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
    <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/play.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
  </div>
<div class="row">
     <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/game.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
    <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/play.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
    <div class="col s12 m5 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/game.jpg'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

      </div>
  </div>

<br><br>

<div align="center">
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

<br><br>





 {% endblock %}