{% extends "base.html" %}
{% load staticfiles sass_tags %}
{% block content %}

<style>
    .parallax-container {
      height: 400px!important;
    }
</style>
<style>
* {
    max-width:100% !important;
    height:auto !important;
}
</style>
 <div class="parallax-container">
      <div class="parallax"><img   src="{{thumbnail}}"></div>
    </div>


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div align="center">
                       <h2 class="section-heading">{{ name }}</h2>
                   </div>
                   <p>{{ text|safe }}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
 {% endblock %}
