{% extends "base.html" %}
{% load staticfiles sass_tags %}
{% block content %}

<style>
    .parallax-container {
      height: 400px!important;
    }
</style>
    <style>
img {
    max-width:100% !important;
    height:auto !important;
}
</style>
 <div class="parallax-container">
      <div class="parallax"><img   src="{{thumbnail}}"></div>
    </div>


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div align="center">
                       <h2 class="section-heading">{{ name }}</h2>
                   </div>
                    <ul>
                            <li> <span>Data & ora : </span> <span> {{ date }}</span></li>
                            <li> <span>Locaţia :</span> <span>{{ location }}</span></li>
                            <input id="id_address" name="address" type="hidden" value="{{ location }}">
                            <input id="id_geolocation" name="geolocation" type="hidden" value="{{ geolocation }}">
                            <div id='map_container' class='row ' style="width: 70% ">
                                    <div class='col s12' >
                                        <div id='map_canvas' style='padding-top: 56.25%; width: 100%'></div>
                                    </div>
                                </div>
                          </ul>
                   <p>{{ text|safe }}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
 {% endblock %}